<%= render "menu" %>
<center><h1>All Transactions</h1></center>

  <% flash.each do |message_type, message| %>
    <div> <strong><%= message %></strong></div>
  <% end %>

<strong>Net Amount</strong> $<%= total @transactions %>
&nbsp
<strong>Total Expenses</strong> $<%= total @transactions.expense %>
&nbsp
<strong>Total Income</strong> $<%= total @transactions.income %>

<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Transaction</th>
    <th>Amount</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td> <%= transaction.user.name %> </td>
      <td> <%= link_to transaction.name,transaction%> </td>
      <td> $<%= transaction.amount %> </td> 
    </tr>
  <% end %>
</table>

</center>


12345678901234567890123456789012345678901234567890123456789012345678901234567890