<%= render "menu" %>

<h1><%= @transactions.name %></h1>

<h3>$<%= @transactions.amount %></h3>

<% if authorized_to_edit(@transactions) %>
    <%= link_to "Edit transaction", edit_transaction_path,
                      method: :get %>
  &nbsp
    <%= link_to "Delete transaction", transaction_path(@transactions),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
<% end %> 
<br>
<%= render @transactions.notes %>

<%= render 'notes/form' %>


