<%= render "menu" %>

<h1><%= @expenses.name %></h1>

<h3>$<%= @expenses.amount %></h3>

<% if authorized_to_edit(@expenses) %>
    <%= link_to "Edit expense", edit_expense_path,
                      method: :get %>
  &nbsp
    <%= link_to "Delete expense", expense_path(@expenses),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
<% end %> 

<h4>Notes:</h4>
<%= render @expenses.notes %>


