<!DOCTYPE html>
<html>
  <head>
    <title>TeamBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>

  <body>
    <%= yield %>
    <footer class="branding">
      <center><small>&copy; 2021 <strong>Team Budget by Norman Richardson</strong></small></center>
    </footer>
  </body>
</html>
